
.user-message-list {
    width: 100%;
}

.user-message-list > li {
    margin: 2%;
    border-radius: 1vw;
    background-color: oklch(var(--b3));
    box-shadow: oklch(var(--b2)) 0 10px;
    transition: 0.5s;
}

.user-message-list > li:hover {
    background-color: oklch(var(--pc));
    box-shadow: oklch(var(--p)) 0 10px;
}

.user-message-list > li > a > div {
    padding: 3%;
}

.user-message-list > li > a > div > h2 {
    font-size: 5vmin;
}

.user-message-list > li > a > div > span {
    font-size: 3vmin;
}

.no-messages {
    color: oklch(var(--ac));
    opacity: 0.5;
    font-style: italic;
}

.messages-top-bar {
    left: 0;
    top: 0;
    width: 100%;
    background-color: oklch(var(--b3));
    padding: 2%;
    margin-bottom: 2vh;
}

.back-button {
    width: 10vw;
    padding: 1%;
    margin-right: 2vw;
    text-align: center;
    line-height: 10vh;
    border-radius: 3%;
    transition: 0.5s;
}

.back-button:hover {
    background-color: oklch(var(--b2));
}

.current-user-messaged {
    font-size: 7vmin;
}

.messagebox-external {
    padding: 0;
    width: 100vw;
    height: 73vh;
    overflow-y: scroll;
    margin: 0 0 1vh;
    font-size: 5vmin;
}

.messagebox-internal {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.tstamp {
    display: inline;
}

.chat-start {
    margin-left: .5rem;
}

.chat-end {
    margin-right: .5rem;
}

.chat-bubble p {
    padding: 0.25rem;
}

.chat-start .chat-bubble {
    background-color: oklch(var(--p));
}

.send-message {
    background-color: oklch(var(--b2));
    display: inline;
    width: 15%;
    transition: 0.5s;
    font-size: 5vmin;
}

#message-content {
    font-size: 5vmin;
    margin-right: 3rem;
}

.send-message:hover {
    background-color: oklch(var(--pc));
}

.message-enter {
    height: 8.5rem
}
